/limine
/edk2-ovmf
*.iso
*.hdd
*.cpio
bin/
obj/
*.img

build/
bootstrap-site.yml
bootstrap.link
sources/
packages/
tools/
.xbstrap/
.env/
pkg-builds/
tool-builds/
ports/
system-root/

*.so
*.a

*.xbstrap

initrd/early-init

*.orig
*.rej